/* NavBar.css */
.navbar {
  background-color: #282c34;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative; 
}

.navbar h1 {
  margin: 0;
  flex: 1;
  text-align: center;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
